@import "../plus_button/plus_button.css";

.crx_mouse_visited {
  background-color: #bcd5eb;
  outline: 1px solid #5166bb;
}

.tooltip {
  z-index: 9999;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  height: 70px;
  font-size: 14px;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: fixed;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}